.article-sec-container{
    background-color: #ECEDF2;
    margin-top: 60px;
    padding: 40px 0;
    .articles{
        padding: 10px 0 50px;

        .article{
            padding: 15px;
            border-radius: 8px;
            border: none;
            transition: all .3s ease-in;
            margin-bottom: 20px;
            .article-img{
                width: 100%;
                border-radius: 8px;
                overflow: hidden;
                img{
                    border-radius: 8px;  
                    transition: all .6s linear;
                    transform: scale(1);
                }

                
            }

            .article-body{
                padding: 0 8px;
                .article-details{
                    padding: 14px 0 0;
    
                    span{
                        padding: 0 10px;
                        font-size: 13px;
                        color: #696969;
                        font-weight: 500;
                        user-select: none;
    
                        &:first-child{
                            padding-right: 0 !important;
                        }
                    }
                }
                .article-title{
                    margin-top: 15px;
                    font-weight: 700;
    
                    a{
                        transition: color .2s ease-in;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1; /* number of lines to show */
                        -webkit-box-orient: vertical;
    
                        &:hover{
                            color: $main-color;
                        }
                    }
                }
                .article-description{
                    margin: 10px 0;
                    font-size: 13px;
                    line-height: 2.2;
                    color: #77838f;
                    text-align: justify;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* number of lines to show */
                    -webkit-box-orient: vertical;
                }
                .see-article{
                    color: $main-color;
                    position: relative;

                    &::after{
                        content: '';
                        width: 0;
                        height: 1px;
                        background-color: $main-color;
                        position: absolute;
                        right: 15px;
                        bottom: 0;
                        transition: width .3s linear;
                    }

                     
                }
            }

            &:hover{
                box-shadow: 0px 6px 15px 0 rgba(2, 10, 24, 0.062);
                .article-img img {
                    transform: scale(1.2);
               
            }
            .see-article {
                &::after{
                    width: 100%;
                   }
            }
            }
            
        }
    }
}

.blog-posts-container{
    margin: 50px auto;

    .articles{
        padding: 10px 0 50px;

        .article{
            padding: 15px;
            border-radius: 8px;
            border: 1px solid #e6e6e6;
            transition: all .3s ease-in;
            margin-bottom: 20px;
            .article-img{
                width: 100%;
                border-radius: 8px;
                overflow: hidden;
                img{
                    border-radius: 8px;  
                    transition: all .6s linear;
                    transform: scale(1);
                }

                
            }

            .article-body{
                padding: 0 8px;
                .article-details{
                    padding: 14px 0 0;
    
                    span{
                        padding: 0 10px;
                        font-size: 13px;
                        color: #696969;
                        font-weight: 500;
                        user-select: none;
    
                        &:first-child{
                            padding-right: 0 !important;
                        }
                    }
                }
                .article-title{
                    margin-top: 15px;
                    font-weight: 700;
    
                    a{
                        transition: color .2s ease-in;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1; /* number of lines to show */
                        -webkit-box-orient: vertical;
    
                        &:hover{
                            color: $main-color;
                        }
                    }
                }
                .article-description{
                    margin: 10px 0;
                    font-size: 13px;
                    line-height: 2.2;
                    color: #77838f;
                    text-align: justify;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* number of lines to show */
                    -webkit-box-orient: vertical;
                }
                .see-article{
                    color: $main-color;
                    position: relative;

                    &::after{
                        content: '';
                        width: 0;
                        height: 1px;
                        background-color: $main-color;
                        position: absolute;
                        right: 15px;
                        bottom: 0;
                        transition: width .3s linear;
                    }

                     
                }
            }

            &:hover{
                box-shadow: 0px 6px 15px 0 rgba(2, 10, 24, 0.062);
                .article-img img {
                    transform: scale(1.2);
               
            }
            .see-article {
                &::after{
                    width: 100%;
                   }
            }
            }
            
        }
    }

}
.article-details{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    span , a{
        margin-left: 20px;
        color: #696969;
    }
}

.blog-container{
    padding: 0;
    overflow: hidden;
     
    margin-bottom: 50px;
    
   .article-image{
       img{
        background-position: center;
        background-size: cover;
        background-origin: border-box;
        max-width: 100%;
        height: auto;
       }
      
   } 

   .blog-texts-container{
       margin: 40px auto;

       .blog-text-title{
           margin:20px 0 ;

           h5{

           }
           
       }
       .blog-text{
        p{
            color: #696969;
            line-height: 2.2;
            text-align: justify;
        }
       }

       .share-article{
           margin-top: 30px;
           border-top: 1px solid #efefef ;
           border-bottom: 1px solid #efefef ;
           padding: 10px 0;
           display: flex;
           justify-content: space-between;
        align-items: baseline;

           h6{
               margin-left: 10px;
               font-weight: 500;
               color: $main-color;
           }

           .share-social{
            margin-top: 5px;
               a{
                   background-color: $main-color-02;
                   color: #fff;
                   padding: 3px 20px;
                   border-radius: 8px;
                    
                   &:hover{
                       background-color: $main-color;
                   }
               }
           }
       }
   }
}
@media screen and (max-width:568px) {
     .article-header{
         height: 200px !important;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     .blog-text{
         padding: 20px;
        p{
            color: #696969;
            line-height: 2.2;
            text-align: justify;
        }
       }
}