#header {
    background-color: $main-color;
    background: url('../images/bg-header.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // min-width: 100vw;
    width: 100%;
    height: 100vh;

    #navbar {
        margin-top: 20px;
        color: #fff;

        .custom-nav-link {
            color: #fff;
            font-weight: 500;
            font-size: 16px;
            margin-left: 15px;
            position: relative;

            &::before {
                content: '';
                width: 0;
                height: 2px;
                position: absolute;
                bottom: 0;
                background-color: $orange-color;
                transition: width .3s linear;

            }

            &:hover {
                color: $orange-color;

                &::before {
                    width: 90%;
                }
            }

        }

        .add-job-btn {
            background-color: $orange-color;
            color: #fff;
        }
    }

    .mobile-nav {
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: row-reverse;
        position: fixed;
        z-index: 99999;
        top: 0;
        visibility: hidden;
        overflow-x: hidden;
        box-shadow: 0 1px 23px rgba(0,0,0,.1);
        .mobile-nav-brand {
            width: 150px;
            height: auto;
        }

        svg {
            font-size: 26px;
            margin-right: 10px;
        }
    }

    .header-content {
        width: 100%;
        margin: 120px auto;
        text-align: center;

        h1,
        p {
            color: #fff;
        }

        h1 {
            font-weight: 700;
            margin-bottom: 15px;
        }

        p {
            font-size: 15px;
            color: rgba(255, 255, 255, 0.801);
        }

        .form-serch {
            background-color: #fff;
            margin-top: 25px;
            border-radius: 10px;
            padding: 25px 12px;

            input {
                width: 100%;
                padding: 23px 8px;
                outline: none;
                box-shadow: none;
                border: none;

                &:focus {
                    box-shadow: none;
                    outline: none;
                }

            }
            select{
                option{
                    border-radius: 10px;
                    border: none;
                    background-color: $gray-color;
                    padding: 10px 0;
                }
            }
           

            svg {
                color: #929292;
                font-size: 20px
            }

            .search-input {
                position: relative;
                color: #696969;

                &:focus {
                    box-shadow: none;
                    outline: none;
                }

                &::before {
                    content: '\f007';
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    position: absolute;
                    right: 0;
                }
            }

            .form-btn {
                background-color: $orange-color;
                color: #fff;
                width: 182px;
                padding: 10px 0;
                border: 1px solid transparent;
                transition: all .3s linear;

                &:hover {
                    border-color: $orange-color;
                    background-color: #fff;
                    color: $orange-color;
                }
            }

            .form-border-left {
                border-left: 1px solid #e3e4e9;
            }
        }

        .counter-container {
            margin: 100px 0 0;
            color: #fff;
            font-size: 20px;

            .counter {
                font-size: 30px;
                font-weight: 700;
            }
            span{
                color: $gray-color;
            }
        }
    }
}
.back-side-menu{
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 85858854;
}
.side-menu{
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #202125;
    z-index: 85858855;
    top: 0;
    right: -250px;
    box-sizing: border-box;
   
    
    .side-menu-header{
        background-color: #fff;
        padding: 0;
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 70%;
            height: auto;
            
        }
    }
    .side-nav-content{
        padding: 20px;
        .side-nav-link{
            color: #979797;
            transition: color .2s ease-in;
            margin-bottom: 10px;
            font-weight: 500;
            &:hover{
                color: #fff;
            }
    
            &:first-child{
                color: gold;
            }
        }
        .side-menu-social{
            margin-top: 25px;
            .social-links{
                display: flex;
                justify-content: center;
                flex-direction: row-reverse;
                .social-link{
                    color: #fff;
                    padding: 10px ;
                    a{
                        color: rgb(194, 194, 194);
                        font-size: 20px;

                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}



.sign-in-modal{
    .sign-in-modal-content{
        padding: 20px;
        .sign-in-modal-header{
            border: none;
            display: flex;
            justify-content: space-between;
            span{
                font-weight: 400;
            }
            .modal-title{
                 font: {
                 size: 19px;
                 weight: 700;
                }
            }
        } 

        .sign-in-modal-body{
            .modal-form{
                label{
                    font-size: 14px;
                    color: #202124;
                    font-weight: 500;
                }

                input{
                    border: 1px solid transparent;
                    padding: 27px 20px;
                    background-color: #F0F5F7;
                    border-radius: 8px;
                    outline: none;
                    box-shadow: none;
                    margin-bottom: 20px;
                    transition: all .2s linear;
                    &::placeholder{
                        text-align: right;
                        font-size: 14px;
                        
                    }
                    &:focus{
                        background-color: #fff;
                        border-color: $main-color;
                    }
                }
                .sign-in-modal-btn{
                    background-color: $main-color;
                    height: 50px;
                    border-radius: 8px;
                    margin-top: 30px;
                    border: 1px solid transparent;
                    transition: all .3s ease-in;
                    &:hover{
                        background-color: #fff;
                        border: 1px solid $main-color;
                        color: $main-color;
                    }
                }
                .ask-register{
                    text-align: center;
                    margin: 20px auto 0 auto;
                    display: flex;
                    justify-content: center;

                    strong{
                        color: $main-color;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
.second-navbar{
    background-color: #fff;
    width: 100%;
    box-shadow: 0 1px 23px rgba(0,0,0,.1);
    padding: 15px 50px;
    position: fixed;
    top: 0;
    z-index: 85;
   
    .nav-link{
        margin-left: 10px;
        &:hover{
            color: $main-color;
        }
    }
    .add-job-btn{
        background-color: $main-color;
        color: #fff;
        padding: 10px 19px;
        border-radius: 8px;
    }
   
    .sign-in-btn{
        background-color:  rgba(25, 103, 210, 0.07);
        color: $main-color;
        border-color: transparent;
        padding: 10px 19px;
        border-radius: 8px;
        transition: all .3s linear;
        &:hover{
            background-color: $main-color;
            color: #fff;
        }
    }

    
}

.secong-nav-mob {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    z-index: 99999;
    top: 0;
    visibility: hidden;
    overflow-x: hidden;
    box-shadow: 0 1px 23px rgba(0,0,0,.1);
    .mobile-nav-brand {
        width: 150px;
        height: auto;
    }

    svg {
        font-size: 26px;
        margin-right: 10px;
    }
}


.second-page-header{
    background: none !important;
    display: none;

   
}

.form-search-container , .form-info-container{
    width: 100%;
    height: 300px;
    background: url('../images/form-serch-bg.jpg');
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    .form-serch {
        background-color: #fff;
        margin-top: 95px;
        border-radius: 10px;
        padding: 25px 12px;
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.055);
        input {
            width: 100%;
            padding: 23px 8px;
            outline: none;
            box-shadow: none;
            border: none;

            &:focus {
                box-shadow: none;
                outline: none;
            }

        }
        select{
            option{
                border-radius: 10px;
                border: none;
                background-color: $gray-color;
                padding: 10px 0;
            }
        }
       

        svg {
            color: #929292;
            font-size: 20px
        }

        .search-input {
            position: relative;
            color: #696969;

            &:focus {
                box-shadow: none;
                outline: none;
            }

            &::before {
                content: '\f007';
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                position: absolute;
                right: 0;
            }
        }

        .form-btn {
            background-color: $main-color;
            color: #fff;
            width: 182px;
            padding: 12px 10px;
            border: 1px solid transparent;
            border-radius: 8px;
            transition: all .3s linear;

            &:hover {
                border-color: $main-color;
                background-color: #fff;
                color: $main-color;
            }
        }

        .form-border-left {
            border-left: 1px solid #e3e4e9;
        }
    }

}

.form-info-container{
    margin-top: 30px;
    padding: 105px 0;
    height: 277px;
    .job-item-info{
        display: flex;

        .job-info-logo{
            width: 100px;
            height: auto;
            margin-left: 20px;
            border-radius: 8px;
            overflow: hidden;

            img{
                width: 100%;
                border-radius: 8px;
            }
        }
        .job-info-content{

            .job-info-title{
                margin: 0 0 13px;
                a{
                    font-size: 22px;
                }
                span{
                    color: $green-color;
                    margin-right: 20px;
                }
            }

            .job-info-details{
                color: #696969;
                span{
                    margin-left: 18px;

                    &:hover{
                        color: #4d4b4b;
                    }
                }

                .job-info-pills{
                    margin-top: 13px;
                    p{
                       font-size: 14px;
                        padding: 2px 20px;
                        border-radius: 50px;
                        margin-left: 18px;

                        &:first-child{
                            background-color:rgba(25, 103, 210, 0.15);
                            color: $main-color;
                        }
                        &:nth-child(2){
                            background-color:rgba(249, 171, 0, 0.15);
                            color: #F9AB00;
                        }
                    }
                }
            }
        }
    }

    .job-item-left{
         margin-top: 30px;
        text-align: left;
        margin-right: auto;
        display: flex;
        justify-content: flex-end;

        .send-req-btn{
            background-color: $main-color;
            color: #fff;
            padding: 12px 30px;
            border: 1px solid transparent;
            border-radius: 8px;

            &:hover{
                border-color: $main-color;
                color: $main-color;
                background-color: transparent;
            }
        }
        .job-item-save-job{
            width: 50px;
            height: 50px;
            background-color: $main-color-04;
            color: $main-color;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            margin-right: 10px;
            transition: all .3s linear;
             svg{
                font-size: 19px;
                 
            }

            &:hover{
               background-color: $main-color;
               color: #fff; 

            }
        }
    }
}
@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1261px;
    }
}

@media screen and (max-width: 991px) {
    #navbar , .second-navbar {
        display: none;
    }

    .mobile-nav {
        visibility: visible !important;
    }
}

@media screen and (max-width: 768px) {
    .header-content {
        width: 100%;
        margin: 120px auto;
        text-align: center;

        h1,
        p {
            color: #fff;
        }

        h1 {
            font-weight: 700;
            margin-bottom: 15px;
            font-size: 34px;
        }

        p {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.801);
        }

        .form-border-left{
            border: none !important;
        }
       
    }

   
    
}
@media screen and (max-width: 578px) {

    #header{
        .header-content{
            .counter-container{
                margin: 50px 0 0 ;
                color: #fff;
                font-size: 19px;
        
                .counter{
                    font-size: 23px;
                    margin-top: 20px;
                    font-weight: 700;
                }
            }
        }
    }
    
    .form-search-container{
        height: 350px;
        margin-top: 0;

        input{
            border: none !important;
            select{
                border: none;
            }
        }
    }
    .form-border-left{
        border: none !important;
    }

    .form-info-container{
        height: 400px;
        padding:40px 20px;
        
        .job-item-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .job-info-content{
                text-align: center;
                margin-top: 20px;

                .job-info-logo{
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .job-info-title{
                    a{
                        font-size: 18px;
                        text-align: center;
                    }
                }
                .job-info-details{
                    margin-top: 20px;
                    span{
                        font-size: 14px;
                    }

                    .job-info-pills{
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        margin-top: 20px;
                    }
                }
            }
        }
        .job-item-left{
            justify-content: center;
        }
    }
}