.joblists {
    margin: 0 auto;

    .nav-pills {
        display: flex;
        justify-content: center;

        .nav-item {

            margin: 0 9px;
            background-color: #f0f5f7;
            border-radius: 7px;

        }

    }

    .job-item {
        display: flex;
        padding: 20px 25px;
        margin: 20px 0 0;
        border: 1px solid #ECEDF2;
        border-radius: 10px;
        position: relative;
        transition: all .3s linear;
        .job-logo {
            width: 50px;
            height: 50px;
            margin-left: 15px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .job-content {

            .job-title {
                text-align: right;
                a {
                    &:hover {
                        color: $main-color;
                    }
                }

                span {

                    font-size: 13px;
                    font-weight: 500;
                    color: $green-color;
                    padding: 1px 8px;
                    border-radius: 17px;
                    margin-right: 10px;
                }
            }

            .save-job {
                position: absolute;
                left: 20px;
                top: 19px;
                width: 30px;
                height: 30px;
                background-color: transparent;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #696969;
                transition: all .3s ease-in;
            }

            .job-details {
                text-align: right;
                margin: 11px 0;

                span {
                    font-size: 13px;
                    color: #696969;
                    margin-left: 20px;

                    &:hover{
                        color: #535353;  
                    }
                    svg {
                        margin-left: 3px;
                        vertical-align: -3px;
                    }
                }
            }
        }

        &:hover{
            box-shadow: 0px 6px 15px 0 rgba(64, 79, 104, 0.062);
        }
           &:hover .save-job{
                    color: #696969;
                    background-color:#ecedf1;
                    cursor: pointer;
                 
            }
        
    }
    .show-all{
        margin: 20px 0;
        text-align: left;
        display: flex;
        justify-content: flex-end;
        color: #696969;
        transition: all .3s ease;
        svg{
            margin: 4px 10px 0 0 ;
            transition: margin .3s ease;
        }
        &:hover{
            color: $main-color;

            svg{
                margin: 4px 10px 0 -3px ;
            }
        }
    }
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: $main-color;

}

@media screen and (max-width: 568px) {
    .show-all{
        margin: 20px 0;
        display: block !important;
        text-align: center;
        color: #696969;
        transition: all .3s ease;
        font-size: 14px;
        svg{
            margin: 4px 10px 0 0 ;
            
        }
        &:hover{
            color: $main-color;
        }
    }
}