// Variables
$main-color:#1967D2;
$main-color-01:#1966d2c7;
$main-color-02:#1966d291;
$main-color-03:#1966d257;
$second-color:#1451a4;
$header-background:#10195D;
$orange-color:#F9AB00;
$gray-color:#ECEDF2;
$green-color:#34A853;
$link-color:#202124;
$footer-color:#2F333C;

@mixin flex-center {
display: flex;
justify-content: center;
align-items: center;
}