@import url(../assets/fonts/fontiran.css);
#header {
  background: url("../images/bg-header.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 120vh;
}

#header #navbar {
  margin-top: 20px;
  color: #fff;
}

#header #navbar .custom-nav-link {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin-left: 15px;
  position: relative;
}

#header #navbar .custom-nav-link::before {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  background-color: #F9AB00;
  -webkit-transition: width .3s linear;
  transition: width .3s linear;
}

#header #navbar .custom-nav-link:hover {
  color: #F9AB00;
}

#header #navbar .custom-nav-link:hover::before {
  width: 90%;
}

#header #navbar .add-job-btn {
  background-color: #F9AB00;
  color: #fff;
}

#header .mobile-nav {
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 99999;
  top: 0;
  visibility: hidden;
  overflow-x: hidden;
}

#header .mobile-nav .mobile-nav-brand {
  width: 150px;
  height: auto;
}

#header .mobile-nav svg {
  font-size: 26px;
  margin-right: 10px;
}

#header .header-content {
  width: 100%;
  margin: 120px auto;
  text-align: center;
}

#header .header-content h1,
#header .header-content p {
  color: #fff;
}

#header .header-content h1 {
  font-weight: 700;
  margin-bottom: 15px;
}

#header .header-content p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.801);
}

#header .header-content .form-serch {
  background-color: #fff;
  margin-top: 25px;
  border-radius: 10px;
  padding: 25px 12px;
}

#header .header-content .form-serch input {
  width: 100%;
  padding: 23px 8px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

#header .header-content .form-serch input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

#header .header-content .form-serch select option {
  border-radius: 10px;
  border: none;
  background-color: #ECEDF2;
  padding: 10px 0;
}

#header .header-content .form-serch svg {
  color: #929292;
  font-size: 20px;
}

#header .header-content .form-serch .search-input {
  position: relative;
  color: #696969;
}

#header .header-content .form-serch .search-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

#header .header-content .form-serch .search-input::before {
  content: '\f007';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 0;
}

#header .header-content .form-serch .form-btn {
  background-color: #F9AB00;
  color: #fff;
  width: 182px;
  padding: 10px 0;
  border: 1px solid transparent;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

#header .header-content .form-serch .form-btn:hover {
  border-color: #F9AB00;
  background-color: #fff;
  color: #F9AB00;
}

#header .header-content .form-serch .form-border-left {
  border-left: 1px solid #e3e4e9;
}

#header .header-content .counter-container {
  margin: 100px 0 0;
  color: #fff;
  font-size: 20px;
}

#header .header-content .counter-container .counter {
  font-size: 30px;
  font-weight: 700;
}

#header .header-content .counter-container span {
  color: #ECEDF2;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1261px;
  }
}

@media screen and (max-width: 991px) {
  #navbar {
    display: none;
  }
  .mobile-nav {
    visibility: visible !important;
  }
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    margin: 120px auto;
    text-align: center;
  }
  .header-content h1,
  .header-content p {
    color: #fff;
  }
  .header-content h1 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 34px;
  }
  .header-content p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.801);
  }
}

@media screen and (max-width: 578px) {
  #header .header-content .counter-container {
    margin: 50px 0 0;
    color: #fff;
    font-size: 19px;
  }
  #header .header-content .counter-container .counter {
    font-size: 23px;
    margin-top: 20px;
    font-weight: 700;
  }
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Black.eot");
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Black.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb(FaNum)_Black.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb(FaNum)_Black.woff") format("woff"), url("../fonts/ttf/IRANSansWeb(FaNum)_Black.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Bold.eot");
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"), url("../fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Medium.eot");
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb(FaNum)_Medium.woff") format("woff"), url("../fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Light.eot");
  src: url("../fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb(FaNum)_Light.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"), url("../fonts/ttf/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff") format("woff"), url("../fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/IRANSansWeb(FaNum).eot");
  src: url("../fonts/eot/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb(FaNum).woff2") format("woff2"), url("../fonts/woff/IRANSansWeb(FaNum).woff") format("woff"), url("../fonts/ttf/IRANSansWeb(FaNum).ttf") format("truetype");
}

a {
  text-decoration: none;
  color: #202124;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'IRANSans' , 'tahoma';
  font-weight: normal;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
/*# sourceMappingURL=style.css.map */